@charset "utf-8";
/**
 * person.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-08
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: '.person'; // block

#{$component} {
	background: $greylight;
	width: 100%;
	overflow: hidden;

	&__text {
		padding: 80px 0;
	}

	&__figure {
		margin: -30px -260px 0 0;

		img {
			object-fit: cover;
		}

		img {
			@include media-breakpoint-down(md) {
				margin: 0 auto;
				position: relative;
				right:12%;
				top: 50px;
				object-fit: none;
				max-width: 710px;
				object-position: right;
			}
		}
	}
}
// element
// modifier
