@charset "utf-8";
/**
 * new-features.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-18
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.new-features';

// block
#{$component} {
  max-width: 450px;
  padding: 20px;
  min-height: 430px;
  filter: drop-shadow(0 3px 30px rgba(0, 0, 0, 0.1));
  background: white;
  border-radius: 4px;
  &__header {
    margin: 10px 0;
  }
  &__img {
    width: 14px;
    height: 14px;
    position: relative;
    right: 26px;
    top: 10px;
  }
  &__features {
    margin-top: 20px;
  }

}

// element


// modifier
