@charset "utf-8";
/**
 * side-menu.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.side-menu';

// block
#{$component} {
  background: url("/Resources/Public/img/side-menu.png") no-repeat top left;
  height: 615px;
  font-size: 18px;
  max-width: 432px;

  &__nav {
    position: relative;
    right: 50px;
    top: 160px;
  }
  &__link {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    &:hover {
      color: $orange
    }
  }


}
// element


// modifier
