@charset "utf-8";
/**
 * nav-main.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (seliger@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

/* ==========================================================================
   Main Navigation
   ========================================================================== */

$component: '.nav-main';

// block
#{$component} {
	
	&__login:after {
		background-image: url('../img/icon-ring.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		content: '';
		display: block;
		display: inline-block;
		height: 1rem;
		margin-left: .25rem;
		vertical-align: middle;
		width: 1rem;
	}

	&__toggler {
		padding: 0;
		border: none;
	}
}


// element


// modifier