@charset "utf-8";
/**
 * header.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (seliger@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

/* ==========================================================================
   Header
   ========================================================================== */

$component: '.header';

// block
#{$component} {
	padding: 17px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 100;

	&__branding {
		@include poppins;
		@include poppins-medium;
		display: inline-flex;
		color: $greydark;
		text-decoration: none;
		text-transform: uppercase;
		align-items: center;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	&__branding-svg {

	}

	&__branding-text {
		padding: 0 0 0 50px;
	}

}


// element


// modifier
