@charset "utf-8";
/**
 * text-picture.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.text-picture';

// block
#{$component} {
  padding: 120px 0;

  background: url("/Resources/Public/img/corner-bottom-right.png") no-repeat bottom left;
  @include media-breakpoint-down(md) {
    background: none;
    padding: 0;
  }
  position: relative;
  top: 2px;
  &__header {
    margin-top: 70px;
  }
  &__figure {
    img {
      min-height: 650px;
      object-fit: none;

      @include media-breakpoint-down(md) {
        margin-top:30px;
        min-height: 150px;
        max-height: 400px;
        object-fit: none;
        margin-bottom: 50px;
      }

    }
  }
}

// element


// modifier
