<div class='row xs-up-1 sm-up-2 md-up-3 lg-up-4'>
<div class='column' style='margin-bottom:10px'>
	<div style='background:#000;padding:25px 0;border:1px solid #000'></div>
	<div>'black': #000</div>
</div>
<div class='column' style='margin-bottom:10px'>
	<div style='background:#fff;padding:25px 0;border:1px solid #000'></div>
	<div>'white': #fff</div>
</div>
</div>