<style>
	.row.display {
		background: #eee;
		font-size: 11px;
		margin-bottom: 10px;
		line-height: 2rem;
		border: solid 1px #c6c6c6;
	}
	.row.display .column:nth-child(2){
		background: #e1e1e1;
	}
</style>

<section class="component__item">
	<div class="container">

	</div>
</section>
