<!doctype html>
<html class="no-js" lang="de">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if pagetitle %}{{ pagetitle }}{% else %}Shorty{% endif %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="Resources/Public/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="Resources/Public/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="Resources/Public/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="Resources/Public/img/favicons/site.webmanifest">
	<link rel="shortcut icon" href="Resources/Public/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#f4efec">
	<meta name="msapplication-config" content="Resources/Public/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#f7f7f7">

	<script>
		var html = document.querySelector('html');
		html.className = html.className.replace('no-js', '');
	</script>

	<link rel="stylesheet" href="Resources/Public/css/screen.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap">

</head>
