<div class='row xs-up-2 lg-up-6'>
<div class='column' style='margin-bottom:10px'>
	<div class='util-icon--before util-icon--angle-left' style='width:55px;height:55px;text-align:center;line-height:55px;border:1px solid #000'></div>
	<div>'angle-left': '\F104'</div>
</div>
<div class='column' style='margin-bottom:10px'>
	<div class='util-icon--before util-icon--angle-right' style='width:55px;height:55px;text-align:center;line-height:55px;border:1px solid #000'></div>
	<div>'angle-right': '\F105'</div>
</div>
</div>