@charset "utf-8";
/**
 * intro.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-08
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: '.intro'; // block

#{$component} {
	position: relative;
	overflow: hidden;

	&__background {
		position: absolute;
		@include media-breakpoint-down(md) {
			position: relative;
			figure {
				img {
					object-position: 100% 50%;
					@include media-breakpoint-down(sm) {
						object-position: 86% 50%;
					}

					object-fit: none;
					min-height: 500px;
				}
			}

			// position: relative;
			// width: 200%;
			// -webkit-transform: scaleX(-1);
			// -moz-transform: scaleX(-1);
			// -o-transform: scaleX(-1);
			// transform: scaleX(-1);
			// filter: FlipH;
			// -ms-filter:  "FlipH";
		}
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__figure {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__foreground {
		position: relative;
		z-index: 10;
		padding: 130px 0;
		@include media-breakpoint-down(md) {
			padding: 30px 0;
		}

		&::before {
			content: '';
			width: 50%;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			height: 100%;
			background: $orange;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -3;
		}
	}

	&__foreground-inner {
		position: relative;
	}
}
// element
// modifier
