@charset "utf-8";
/**
 * picture-text-grey.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.picture-text-grey';

// block
#{$component} {
  background-color: $greylight;
  position: relative;
  z-index: 10;

  padding: 0;
  &__header {
    margin-top: 70px;
  }
  &__figure {
    img {
      min-height: 650px;
overflow: visible;
      object-fit: none;
      position: relative;
      top: 15px;

      @include media-breakpoint-down(md) {
        object-fit: none;
        min-height: 150px;
        max-height: 400px;
        margin-bottom: 50px;
  		}

    }
  }
}

// element


// modifier
