@charset "utf-8";
/**
 * text-facts.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-03
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: '.text-facts'; // block

#{$component} {
	padding: 80px 0;

	&__facts {
		margin: 40px 0 0;
	}
	// @include media-breakpoint-down(md) {
	// 	background: none;
	// }
	// background: url("/Resources/Public/img/corner-left-bottom.svg") no-repeat bottom right;

	&__fact-hex {
		position: relative;
	}

	&__fact-svg {
		filter: drop-shadow(0 3px 30px rgba(0, 0, 0, 0.1));
	}

	&__fact-value {
		@include poppins;
		@include poppins-extrabold;
		width: 100%;
		font-family: 'Poppins', sans-serif;
		color: $orange;
		display: block;
		font-weight: 800;
		font-size: 36px;
		line-height: 44px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}

	&__fact-key {
		text-align: center;
		padding: 15px 0;
	}

	&__center {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: auto;
	}


	&__info-graphik-bereich {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__header {
		color: $orange;
		margin: 40px 0 10px;
	}

	&__item-hexagon {
		position: relative;
	}

	&__item-figure {
		margin: 0;
	}

	&__item-value {
		width: 100%;
		font-family: 'Poppins', sans-serif;
		color: $orange;
		display: block;
		font-weight: 800;
		font-size: 36px;
		line-height: 44px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}

	&__item-key {
		position: relative;
		bottom: 30px;
	}
}
// element
// modifier
