@charset "utf-8";
/**
 * email-download.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-18
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.email-download';

// block
#{$component} {
  max-width: 295px;
  min-height: 395px;
  filter: drop-shadow(0 3px 30px rgba(0, 0, 0, 0.1));
  background: white;
  border-radius: 4px;
  &__grey {
    height: 173px;
    background-color: $grey;
    border-radius: 4px 4px 0 0;
  }
  &__text {
    margin: 15px;
  }
  &__type {
    color: $grey;
    @include poppins-semibold;
  }
  &__img {
    width: 35px;
    height: 30px;
    margin-right: 10px;
  }
  &__header {
    margin-bottom: 15px;
  }
  &__download {
    margin-bottom: 20px;
  }
}

// element


// modifier
