@charset "utf-8";
/**
 * text-list.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-05
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: '.text-list'; // block

#{$component} {
	// background: url("/Resources/Public/img/corner-left-bottom.svg") no-repeat bottom right;
	background: url("/Resources/Public/img/corner-right-pop.svg") no-repeat top left;
  @include media-breakpoint-down(md) {
		background: none;
	}
	position: relative;
	bottom: 2px;

	&__text {
		margin: 30px 0;
	}
	//
	// &__list {
	//   font-size: 20px;
	//   list-style-type: none;
	//   position: relative;
	//   right: 40px;
	//
	//   li::before {
	//     content: '>';
	//     position: relative;
	//     bottom: 3px;
	//     color: $orange;
	//     font-size: 10px;
	//   }
	//
	//   &__front {
	//     position: relative;
	//     bottom: 3px;
	//     color: $orange;
	//     font-size: 10px;
	//   }
	// }
}
// element
// modifier
