@charset "utf-8";
/**
 * person-small.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-18
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.person-small';

// block
#{$component} {
  max-width: 450px;
  padding: 20px;
  filter: drop-shadow(0 3px 30px rgba(0, 0, 0, 0.1));
  min-height: 430px;
  background: white;
  border-radius: 4px;

  &__name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  &__contact {
    margin-left: 10px;
  }
  &__header {
    margin: 10px 0;
  }
}

// element


// modifier
