@charset "utf-8";
/**
 * layout.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (hello@yesjoar.com)
 * MIT License (MIT)
 */

.main {
	padding: 68px 0 0 0;
}

.wrapper {
	overflow: hidden;
}
