@charset "utf-8";
/**
 * mixins.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (hello@yesjoar.com)
 * MIT License (MIT)
 */

@mixin karma-regular {
	font-weight: 400;
}

@mixin karma-semibold {
	font-weight: 600;
}

@mixin poppins {
	font-family: 'Poppins';
}

@mixin poppins-regular {
	font-weight: 400;
}

@mixin poppins-medium {
	font-weight: 500;
}

@mixin poppins-extrabold {
	font-weight: 800;
}

@mixin poppins-semibold {
	font-weight: 600;
}
