@charset "utf-8";
/**
 * typo.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (hello@yesjoar.com)
 * MIT License (MIT)
 */
/* ==========================================================================
 Webfonts
 ========================================================================== */
/* ==========================================================================
     Global Typo Styles
     ========================================================================== */
body {
	font-size: 20px;
	line-height: 1.45;
	color: $greydark;
	font-weight: 400;
}

.h1,
h1 {
	font-family: 'Poppins', sans-serif;
	color: $orange;
	display: block;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	margin: 0;
	@include media-breakpoint-down(lg) {}

	&--light {
		color: white;
	}
}

.h2,
h2 {
	font-family: 'Poppins', sans-serif;
	color: $orange;
	display: block;
	font-weight: 700;
	font-size: 36px;
	margin: 0 0 20px;
	@include media-breakpoint-down(lg) {}

	span {
		display: block;
		color: $greydark;
		font-weight: 700;
		font-size: 18px;
		margin: 0 0 15px;
	}

	&--light {
		color: white;
	}
}

.h3,
h3 {
	font-family: 'Poppins', sans-serif;
	color: $greydark;
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 44px;
	margin: 0;
	@include media-breakpoint-down(lg) {}
}

.h4,
h4 {
	font-family: 'Poppins', sans-serif;
	color: $lila;
	display: block;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	@include media-breakpoint-down(lg) {}
}

.h5,
h5 {
	font-family: 'Karma', serif;
	color: $orange;
	display: block;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	@include media-breakpoint-down(lg) {}
}

.h6,
h6 {
	font-family: 'Poppins', sans-serif;
	color: $orange;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	margin: 0;
	@include media-breakpoint-down(lg) {}
}

.p,
p {
	font-family: 'Karma', serif;
	font-weight: 400;
	margin: 0 0 1em;
	@include media-breakpoint-down(lg) {}
}

.p-light {
	color: white;
}
.p-bold {
	font-weight: bold;
}

a {
	color: $tuerkis;
	text-decoration: underline;

	&:hover {
		color: darken($tuerkis, 10);
	}
}

ul {
	list-style-type: none;
}

.text-lead {
	font-size: 24px;
}

.text-explain {
	font-size: 16px;
}

.text-mini {
	font-size: 14px;
}

.margin-element {
	margin: 80px 0;
	@include media-breakpoint-down(md) {
		margin: 50px 0;
	}
}

.background-orange {
	@include media-breakpoint-down(xl) {
		background: none;
	}
	@include media-breakpoint-down(md) {
		background-color: $orange;
	}
}

.btn {
	background-color: white;
	outline: none;
	border: none;
}

figure {
	margin: 0;
}

label.text-explain {
	position: relative;
	top: 8px;
	left: 10px;
}

input.form-check-input[type=checkbox],
input.form-check-input[type=radio] {
 height: 18px;
 width: 18px;
 opacity: 0.4;
 border-radius: 4px !important;
 margin-left: -1.5em;
 &:hover {
	 opacity: 1;
 }
}

.carousel-indicators li{
	background: url(../img/carousel-indicator.svg) no-repeat !important;
	background-size: contain !important;
	background-position: center !important;
	position: relative;
	top: 50px;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

.carousel-control-prev,
.carousel-control-next {
	height: 50px;
	box-shadow: none;
	position: absolute;
	opacity: 1;
	top: 96%;
	right: -6%;
}
.carousel-control-prev {
	background: url(../img/carousel-prev.svg) no-repeat !important;
	z-index: 10;
}
.carousel-control-next {
	background: url(../img/carousel-next.svg) no-repeat !important;
	z-index: 10;
}


img {
	width: 100%;
	height: auto;
	max-width: 100%;
}
