@charset "utf-8";
/**
 * variables.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (hello@yesjoar.com)
 * MIT License (MIT)
 */

$body-bg: #fff;
$body-color: #333;

$font-family-base: 'Lato';
$font-size-base: 1.125rem;
$font-weight-base: 300;
$line-height-base: 1.444;

$paragraph-margin-bottom: 1.5rem !default;
$spacer: 1.5rem !default;

// 2. Breakpoints
// --------------

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$container-max-widths: (
	xl: 1300px
) !default;

$grid-gutter-width: 20px !default;

/* ==========================================================================
   Colors
   ========================================================================== */

/* <@colors */
$greylight: #F5F5F5;
$grey: #777777;
$greydark: #444444;
$orange: #FF7719;
$tuerkis: #14B4AA;
$lila: #4137A0;

$primary: #f00000;
$secondary: #4d1e5a;
$tertiary: #00f4ca;
$light: #f7f7f7;

$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"tertiary": $tertiary
	),
	$theme-colors
);
/* colors@> */

$h1-font-size: $font-size-base * 2.666 !default; // 48px
$h2-font-size: $font-size-base * 2.222 !default; // 40px
$h3-font-size: $font-size-base * 1.777 !default; // 32px
$h5-font-size: $font-size-base * 1.222 !default; // 22px
$h6-font-size: $font-size-base * 1.111 !default; // 20px

$headings-font-weight: 700;
$headings-margin-bottom: 1.5rem;

$border-radius: 0 !default;
$btn-border-radius: 3rem !default;
$btn-border-width: 2px;
$btn-font-weight: 700;
$btn-padding-x: 3rem;

$input-btn-padding-y: .66rem !default;
$input-border-width: 1px !default;

$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$navbar-light-color: rgba(black, .75) !default;
$nav-tabs-link-active-bg: $light;
$navbar-padding-y: 0;

$enable-gradients: true;


/* ==========================================================================
   Icons
   ========================================================================== */

/* <@icons */
$fa-font-path: "../fonts/iconfonts" !default;
/* icons@> */
