@charset "utf-8";
/**
 * media.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-08
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: '.media'; // block

#{$component} {
	background-color: $greylight;
	position: relative;
	z-index: 0;
	padding-left: 10px;
	overflow: hidden;

	&::before {
		content: '';
		background: $grey;
		width: 5000px;
		height: calc(100% + 40px);
		position: absolute;
		left: calc(35% + 650px);
		transform: skew(-30deg);
		top: -20px;
		@include media-breakpoint-down(md) {
			display: none;
		}
    @include media-breakpoint-down(lg) {
			left: calc(10% + 650px);
		}

	}

	&__text {
		padding: 90px 0;
		@include media-breakpoint-down(md) {
			padding: 30px 0;
		}
	}

	&__responsive {
		background-color: $grey;
		padding: 30px;
	}

	&__play-1 {
		position: absolute;
		// bottom: 29%;
		// left: 35%;
		left: 35%;
		bottom: 350px;
		width: 85px;
		height: 79px;
	}
	&__play-2 {
		position: absolute;
		// bottom: 29%;
		// left: 35%;
		left: 35%;
		bottom: 90px;
		width: 85px;
		height: 79px;
	}

	&__play--responsive {
		position: relative;
		left: 100px;
		bottom: 170px;
	}

	&__videos {
		top: 40px;
		left: 53vw;

		@include media-breakpoint-down(xl) {
			left: 57vw;
		}

		@include media-breakpoint-down(md) {
			display: none
		}
		width: 150%;

		&__left {
			position: relative;
			top: 380px;
		}
		&__middle {
			position: relative;
			top: 0px;
			right: 54px;
		}
		&__right {
			position: relative;
			top: 127px;
			right: 111px;
		}
		&__responsive {
			margin: 10px;
		}

	}

	&__link {
		width: 283px;
		height: 257px;
		object-fit: none;

	}

}
