@charset "utf-8";
/**
 * neun.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-08
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.testimonials'; // block

#{$component} {
	position: relative;
	padding: 100px 0;

	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__cards {
		margin: 40px 0 0 0;
	}

	&__card {
		margin: 0 0 40px 0;

		// @include media-breakpoint-up(md) {
		// 	height: 100%;
		// }
	}

	&__card-inner {
		background: $white;
		position: relative;
		padding: 40px 30px;
		border-radius: 4px;
		height: 100%;
		display: flex;
		flex-direction: column;

		&::before {
			content: '';
			background: url(../img/testimonial-icon@2x.png) no-repeat;
			background-size: cover;
			width: 35px;
			height: 52px;
			position: absolute;
			left: 50%;
			top: -37px;
			transform: translateX(-50%);
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	&__card-main {
		font-size: 18px;
		flex: 1 0 auto;
	}

	&__card-footer {
		border-top: 1px solid #E3EFF3;
		padding: 30px 0 0 0;
		margin: 10px 0 0 0;
	}

	&__person {

	}

	&__person-name {
		@include poppins;
		@include poppins-medium;
		font-size: 18px;
		color: $orange;
	}

	&__person-title {
		@include karma-semibold;
		font-size: 14px;
	}

	&__person-company {
		@include karma-regular;
		font-size: 14px;
	}

	&__headers {
		margin-bottom: 70px;
		margin-top: 50px;
	}
}

// element
// modifier
