@charset "utf-8";
/**
 * dorpdown-name.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-26
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.dropdown-name';

// block
#{$component} {
  filter: drop-shadow(0 3px 30px rgba(0, 0, 0, 0.1));
  background: white;
  border-radius: 4px;
  padding: 10px 20px;


  &__header {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    text-decoration: none;
    &::after {
      display: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__icon {
    width: 14px;
    height: 14px;
    position: relative;
    right: 26px;
  }
}

// element


// modifier
