@charset "utf-8";
/**
 * text-heaxgons.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.text-hexagons';

// block
#{$component} {
  background: url("/Resources/Public/img/bg-text-hexagons.png") no-repeat right;
  @include media-breakpoint-down(md) {
    background-image: none;
  }
  background-color: $greylight;
  padding: 50px 0;

  &__topic {
    position: relative;
    bottom: 20px;
  }
}

// element


// modifier
