@charset "utf-8";
/**
 * text-orange.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.text-orange';

// block
#{$component} {
  padding: 50px 0;
  position: relative;
  z-index: 10;
  background-color: $orange;
  // &::before {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   background: $orange;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   z-index: -3;
  // }
}

// element


// modifier
