@charset "utf-8";
/**
 * partners.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-08
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.partners';

// block
#{$component} {
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__subheader {
    margin-bottom: 20px;
  }
  &__img {
     margin-bottom: 15px;
  }
}

// element


// modifier
