@charset "utf-8";
/**
 * partner-form.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-05
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.partner-form';

// block
#{$component} {


  &__container {
    max-width: 610px;
    margin: 50px 0;
  }
  &__checkboxes {
    font-size: 16px;
  }
  &__label {
    position: relative;
    top: 2px;
    left: 5px;
  }
  &__link {
    text-decoration: underline;
    color: inherit;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 0;
    bottom: 10px;
    background-color: white;

  }
}

// element


// modifier
