@charset "utf-8";
/**
 * text-text-colored.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.text-text-colored';

// block
#{$component} {
  background-color: $greylight;
  z-index: 0;
  position: relative;
  &__text {
    margin: 60px 0;
    @include media-breakpoint-down(md) {
      padding: 0 50px;
    }
  }

  &::before {
		content: '';
		background: $orange;
		width: 5000px;
		height: calc(100% + 40px);
		position: absolute;
		left: calc(49%;);
		transform: skew(-30deg);
		top: -20px;
    @include media-breakpoint-down(md) {
      display: none;
    }
    @include media-breakpoint-down(lg) {
      left: calc(50%);
      transform: skew(-20deg);
    }



	}

}

// element


// modifier
