@charset "utf-8";
/**
 * product-checkboxes.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-17
 * Author: paul (*@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: '.product-checkboxes';
// block
#{$component} {

	&__checkboxes {
		padding-right: 10px;
		position: relative;
		bottom: 5px;
		margin-bottom: 10px;
		&__label {
			position: relative;
			top: 4px;
		}
	}

	&__type {
		font-weight: bolder;
	}

	&__text {
    margin-top: 15px;
		font-size: 14px;
	}
}
// element
// modifier
