@charset "utf-8";
/**
 * button.scss
 *
 * Copyright SHORT CUTS GmbH
 * https://www.short-cuts.de/
 *
 * Date: 2021-02-12
 * Author: kaiseliger (*@short-cuts.de)
 * MIT License (MIT)
 */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: '.button';

// block
#{$component} {
	font-family: "Poppins";
	border: 1px;
	font-weight: 700;
	font-size: 1rem;
	color: $orange;
	display: inline-block;
	text-decoration: none;
	line-height: normal;
	padding: 0.84375rem 2.5rem;
	border-radius: 0.1875rem;
	cursor: pointer;
	margin-top: 30px;

	&--glitch {
		background: #fff;
		position: relative;

		&:before {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 1;
			border-radius: 0.1875rem;
			background: #14b4aa;
			z-index: -1;
			top: 2px;
			left: -2px;
		}

		&:after {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 1;
			border-radius: 0.1875rem;
			background: #4137a0;
			z-index: -2;
			top: -2px;
			left: 2px;
		}

		&:hover {
			text-decoration: none;
			color: darken($orange, 10);

			&:before {
				animation: glitch 9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
			}

			&:after {
				animation: glitch 9s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
			}
		}
	}

	&--ghost {
		&:hover {
			text-decoration: none;
			color: darken($orange, 10);
		}
	}
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-5px, 5px);
	}

	40% {
		transform: translate(-5px, -5px);
	}

	60% {
		transform: translate(5px, 5px);
	}

	80% {
		transform: translate(5px, -5px);
	}

	to {
		transform: translate(0);
	}
}

// element


// modifier
