@charset "utf-8";
/**
 * footer.scss
 *
 * Your description
 *
 * Copyright SHORT CUTS GmbH
 * http://www.short-cuts.de
 *
 * Date: 2016-12-31
 * Author: Kai Seliger (seliger@short-cuts.de)
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

/* ==========================================================================
   Footer
   ========================================================================== */
$component: '.footer'; // block

#{$component} {
	z-index: -20;
	&__top {
		background-color: $orange;
		padding: 40px 10px 80px;
	}

	&__mid {
		padding: 0 10px 0;
	}

	&__bot {

	}

	&__nav {
		@include poppins;
		font-size: 14px;
		color: $white;
		display: flex;
		flex-direction: column;
		margin: 0 0 20px 0;
	}

	&__nav-header {
		@include poppins-semibold;
	}

	&__nav-link {
		@include poppins-regular;
		color: $white;
		text-decoration: none;

		&--sub {
			position: relative;
			padding-left: 10px;

			&::before {
				content: '›';
				position: absolute;
				left: 0;
				color: black;
			}
		}
	}

	&__list {
		position: relative;
		right: 40px;

		li::before {
			content: ">";
			font-size: 8px;
			position: relative;
			bottom: 3px;

			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	&__service {
		display: flex;
		padding: 18px 0;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
	}

	&__service-link {
		@include poppins;
		@include poppins-regular;
		color: $white;
		text-decoration: none;
		font-size: 14px;
		line-height: normal;
		margin: 0 25px 0 0;
	}


	&__main {
		height: 250px;
		width: 100%;


		&__width {
			width: 100%;
		}

		&__header {
			color: white;
			font-size: 14px;
		}

		&__margin {
			margin-top: 30px;
		}

		&__img {
			display: block;
			margin-left: 30px;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	&__mid {
		background-color: $greydark;
	}

	&__colophon {
		font-size: 12px;
		color: grey;
		text-align: center;
		padding: 10px 0;
	}
}

// element
// modifier
